<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="conn" connectionString="data source=D:\BaiduNetdiskDownload\04-三层架构与Winform项目—刘歧\17 2015-08-14 三层模型 架构搭建 MD5加密\资料\ItcastCater.db;version=3;"/>
  </connectionStrings>
  
  
  
  
</configuration>